jcchess
engines/stockfish
data/1_million_chess_games/games_cleaned.csv
*.csv
__pycache__
build/
dist/
*.bin
*.npy
runs/
engines/stoic_child/Stoic_Child*
engines/*/weights/*
engines/blonde_rabbit/Blonde_Rabbit*
